/*Estilos principales*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

 :root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  background: #eb6841;
}

/*Barra de navegacion*/
.barraN {
  background-color: #ff3299;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: auto;;
}

.logo a {
  font-family:cursive;
  font-size: 25px;
  color: #edc951;
  text-decoration: none;
  padding-left: 30px;
}

.barraN ul {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  list-style: none;
  margin: 0px;
  padding-top: 15px;
  padding-right: 30px;
}

.barraN ul li a {
  font-family:cursive;
  color: #4f372d;
  text-align: center;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 28px;
}

.barraN ul li a:hover {
  background: #fa61b8;
  color: #edc951;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 27px;
}

 .barraN ul li a.carrito  {
  font-family:cursive;
  font-size: 25px;
  color: #edc951;
  padding-bottom: 10px;
  padding-top: 20px;
} 

